<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eGrant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

<h2> eGrant : Conference Travel Grant System </h2> <br>
<img src="image.png" alt="Logo" width ="200" height="200">
<br><br>

{{{body}}}

<script src="ui.js"></script>
</body>
</html>
